<header><title>Ambush Code</title></header>

<body>
  <h1><center>Ambush Code: {{section}}</center></h1><br />
  <center>
<h2>Your Ambush Code is: {{section.ambush_code}}</h2><br /></center>

<h3>How to use the Code:</h3>
<p><u>When Ambushing a Section:</u></p>
<p>Radio in your ambush code ({{section.ambush_code}}) + the ambush code of the section you caught (in that order: you first) to 0-T (so you're sending in a six-digit code).</p>

<p><u>When You are Ambushed:</u></p>
<p>Hand the other section leader your code ({{section.ambush_code}}), so he can follow the directions above.</p>


</body>
