<header><title>Base Code</title></header>

<body>
  <h1><center>Base Code: {{platoon}}</center></h1><br />
  <center>
<h2>Your Base Code is: {{platoon.base_code}}</h2><br /></center>

<h3>How to use the Code:</h3>
<p>If you are reading this, you must have made your way to the flag and are now holding the code. Congrats!</p>
<p>The first step is to alert a member of the platoon you have captured and get them to come and join you: they may be required to verify your capture. </p>
<p>Once they're located, radio into 0-T <b>[Your Ambush Code] + [Base Code: {{platoon.base_code}}]</b> to give you a 7-digit code. Ensure that it's in that order: your ambush code, then the base code ({{platoon.base_code}}). Make sure you remain at the base until you get confirmation</p>
<p>Once all is approved, please return the code sheet to the base of the flag, or as directed by PL Staff of {{platoon}}</p>


</body>
